body{
    background: linear-gradient( to right,   #c4e29f,#769353,#517223);
}

.topnav{
    width:100%;
    padding: 7px;
    margin-left: 25%;
    padding-top: 1%;
}
.topnav a{
    padding: 1%;
    font-size: 32px;
    font-family: 'Helvetica';
    font-weight: bold;
    color:#1f2f09;
    text-decoration: none;
}
.topnav a:hover{
    border-radius: 3px;
   background-color: #88af7e;
}
.main{
    float: right;
    width:85%;
    height:100%;
    margin: 4px;
   background: linear-gradient(to right bottom,
    rgba(251, 251, 251, 0.852),
    rgba(255,255,255,0.3));
    border-radius: 5px;
}
h2{
    font-size: 33px;
    font-family: 'Helvetica';
    font-weight: bolder;
 }

 h3{
     font-size: 16px;
     font-family:Cambria;
 }
 section{
    margin-right: 10%;
    float: right;
    width:50%;
    border-radius: 5px;
}
.box{
    padding: 10px;
    height: auto;
	justify-content: center;
	align-items: center;
}
.card{
	height: auto;
	width: 100%;
	background:rgba(154, 185, 139, 0.852);
	border-radius: 10px;
	margin: 5px;
	text-align: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #ffffff;
    
}
@media screen and (max-width: 800px),(max-width: 700px) {
    .topnav{
        width:100%;
        padding: 4px;
        margin-left: 5%;
        padding-top: 2%;
    }
    .topnav a{
        padding: 1%;
        font-size: 32px;
        font-family: 'Helvetica';
        font-weight: bold;
        color:#1f2f09;
        text-decoration: none;
    }
    section{
        margin-right:15%;
        float: right;
        width:50%;
        border-radius: 5px;
    }
    .card{
        height: auto;
        width: 100%;
        background:rgba(154, 185, 139, 0.852);
        border-radius: 10px;
        margin: 3px;
        text-align: center;
        border-radius: 5px;
        box-shadow: 0px 0px 5px #ffffff;
        
    }
    
    .img{
        padding:2%;
        margin-top: 10px;
        width: 20%;
         height: 25%; 
        border-top-right-radius:40% ; 
        border-top-left-radius: 40%;
       } 
}
@media screen and (max-width: 600px),(max-width: 500px) {
    .topnav{

        width:100%;
        padding: 4px;
        margin-left: 5%;
        padding-top: 2%;
    }
    .topnav a{
        padding: 1%;
        font-size: 32px;
        font-family: 'Helvetica';
        font-weight: bold;
        color:#1f2f09;
        text-decoration: none;
    }
    section{
        margin-right:15%;
        float: right;
        width:50%;
        border-radius: 5px;
       
    }
    h2{
        font-size: 30px;
        font-family: 'Helvetica';
        font-weight: bolder;
     }
    .card{
        height: auto;
        width: 100%;
        background:rgba(154, 185, 139, 0.852);
        border-radius: 10px;
        margin: 3px;
        text-align: center;
        border-radius: 5px;
        box-shadow: 0px 0px 5px #ffffff;
        
    }
}
  @media screen and (max-width: 400px), (max-width: 380px){
    .topnav{
        width:100%;
        padding: 2px;
        padding-top: 2%;
    }
    .topnav a{
        padding: 2%;
        font-size: 16px;
        font-family: 'Helvetica';
        font-weight: bold;
        color:#1f2f09;
        text-decoration: none;
    }
    section{
        margin-right:2%;
        float: left;
        width:50%;
        border-radius: 5px;
    }
    .card{
        height: auto;
        width: 200%;
        background:rgba(134, 161, 121, 0.852);
        border-radius: 10px;
        margin-right: 30%;
        text-align: center;
        border-radius: 5px;
        box-shadow: 0px 0px 5px #ffffff;
        
    }
    h2{
        font-size: 20px;
        font-family: 'Helvetica';
        font-weight: bolder;
     }
     h3{
        font-size: 12px;
        font-family:Cambria;
    }

    .img{
    padding:2%;
    margin-top: 10px;
    width: 15%;
     height: 30%; 
    border-top-right-radius:50% ; 
    border-top-left-radius: 50%;
   } 
} 