body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient( to right,   #c4e29f,#769353,#517223);
}
header{
    width:100%;
   padding:3%;
    
}
.logo{
    font-family: fantasy;
    font-weight: unset;
    color:#1f2f09;
    font-size: 24px;
}
.topnav{
    margin-left: 25%;
}
.topnav a{
    padding: 10px;
    font-size: 32px;
    font-family: 'Helvetica';
    font-weight: bold;
    color:#1f2f09;
    text-decoration: none;
 border-radius: 5px;
  
}
.topnav a:hover{
   background-color: #88af7e;

}
img{
    margin-left:200px;
     width: 25%; 
     height:20%;
}
.box{
    padding: 10px;
	display: flex;
    height: auto;
	justify-content: center;
	align-items: center;
    margin-top: 50px;
    
}
.card{
   
	height: auto;
	width: 50%px;
	background:rgba(70, 99, 55, 0.852);
    color: white;
	border-radius: 10px;
	margin: 15px;
	overflow: hidden;
	text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #ffffff;
    
}
@media screen and (max-width: 800px),(max-width:700px) {
    .topnav{
        margin-left: 25%;
    }
    .topnav a{
        padding: 1%;
        font-size: 20px;
        font-family: 'Helvetica';
        font-weight: bold;
        color:#1f2f09;
        text-decoration: none;
       border: #566a3d;
       width: 4%;
    }
}
  @media screen and (max-width: 600px),(max-width: 500px){
    .topnav{

        margin-left: 22%;
    
   } 
   .topnav a{
    padding: 1%;
    font-size: 16px;
    font-family: 'Helvetica';
    font-weight: bold;
    color:#1f2f09;
    text-decoration: none;
   border: #566a3d;
   width: 4%;
}
@media screen and (max-width: 400px),(max-width: 320px){
    .topnav{
        margin-left: 22%;
    }
    .topnav a{
        padding: 1%;
        font-size: 20px;
        font-family: 'Helvetica';
        font-weight: bold;
        color:#1f2f09;
        text-decoration: none;
       border: #566a3d;
       width: 5%;
    }
}
}